* {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    line-height: 1.6;
    background-color: #8b7979;
}

/* Container */
.container {
    background-color: #222831;
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    color: #121229;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#3a3838;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

header nav a {
    color: #333333;
    margin-left: 20px;
    text-decoration: none;
}

header .logo {
    color: #333333;
    background-color:#222831 ;
    font-size: 24px;
    font-weight: bold;

}
.logo a{
    text-decoration: none;
    color: snow;
    background-color:#222831 ;
    list-style-type: none;
}

/* Стили для меню */
.menu {
    background-color:#222831 ;
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.menu li {
    display: inline-block;
    background-color:#222831 ;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    flex-wrap: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: gainsboro;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.menu a:hover  {
    color: #d25c4a;
}
.logo a:hover{
    color: #d25c4a;
}
/*Основне меню   */


.grid-element {
    display: grid;
    width: 80%;
    grid-template-areas:
        "header header header"
        "nav article article"
        "nav ads ads"
        "footer footer footer";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto 1fr auto auto;
    height: 800px;
    margin: 0 auto;
    padding-top: 150px;
    gap: 10px;
}
body, html {
    height: 100%;
}
.header {
    grid-area: header;
    background-color: gold;
}

.nav {
    grid-area: nav;
    background-color: gold;
}

.article {
    grid-area: article;
    background-color: gold;
}

.ads {
    grid-area: ads;
    background-color: gold;
}

.footer {
    grid-area: footer;
    background-color: gold;
    text-align: center;
    padding: 10px;
}