/* 4.1 */
p.text-background > span {
    font-style: normal;

    font-style: italic;
    text-decoration: underline;
    font-weight: bold;

}

div .text-background {
    span {
        background-color: yellow;
    }
}

span span {
    background-color: grey;
    text-decoration: line-through;
}

ol span span {
    font-size: 18px;
    text-transform: uppercase;

}

/* 4.5 */
section > p {
    text-shadow: 3px 3px 5px navy;
    text-indent: 50px;
}


li ul {
    list-style-image: url("../img/li.svg");
    list-style-type: square;
}


div > p.text-background {
    word-spacing: 50px;
}

/* 4.8 */
div.bold > p {
    font-weight: bold;
}

/* 4.9 */
div.bold section > p {
    line-height: 45px;
}

/* 4.10 */
img + p {
    background-color: brown;
}

/* 4.11 */
section ~ p {
    color: red;
}