.container {
    top: 100px;
    position: relative;
    width: 500px;
    left: 500px;
    height: 400px;
}

.block {
    width: 200px;
    height: 100px;
    background-color: sandybrown;
    margin-bottom: 10px;
    text-align: center;
    line-height: 100px;
    border: 2px solid green;
    display: none;
}
.block1 {
    left: 30px;
    position: absolute;
    display: inline-block;
}
.block2{
    position: absolute;
    right: 30px;
    display: none;
}
.block3{
    position: absolute;
    width: 440px;
    height: 100px;
    display: none;
    clear: both;
    top: 150px;
    right: 30px;
    left: 30px;
}
.container:hover .block2 {
    display: block;
}

.block2:hover + .block3 {
    display: block;
}

.block1:hover {
    background-color: lightgreen;
}

.block2:hover {
    background-color: lightblue;
}

.block3:hover {
    background-color: lightcoral;
}
