* {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    line-height: 1.6;
    background-color: #8b7979;
}

/* Container */
.container {
    background-color: #222831;
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    color: #121229;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#3a3838;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

header nav a {
    color: #333333;
    margin-left: 20px;
    text-decoration: none;
}

header .logo {
    color: #333333;
    background-color:#222831 ;
    font-size: 24px;
    font-weight: bold;

}
.logo a{
    text-decoration: none;
    color: snow;
    background-color:#222831 ;
    list-style-type: none;
}

/* Стили для меню */
.menu {
    background-color:#222831 ;
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.menu li {
    display: inline-block;
    background-color:#222831 ;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    flex-wrap: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: gainsboro;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.menu a:hover  {
    color: #d25c4a;
}
.logo a:hover{
    color: #d25c4a;
}
/*Основне меню   */

section{
    margin-top: 100px;
}
main {
    margin: 0 auto;
    width: 1000px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.tree-wrapper {
    margin: 50px 0;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(6, 4fr);
    grid-template-rows: repeat(12, 1fr);
    min-width: 80%;
    grid-template-areas: "x1 x2 x4 x7 x11 x17"
                         "x1 x2 x4 x7 x11 x18"
                         "x1 x2 x4 x7 x12 x19"
                         "x1 x2 x4 x8 x12 x20"
                         "x1 x2 x5 x8 x13 x21"
                         "x1 x2 x5 x8 x13 x22"
                         "x1 x3 x5 x9 x14 x23"
                         "x1 x3 x5 x9 x14 x24"
                         "x1 x3 x6 x9 x15 x25"
                         "x1 x3 x6 x10 x15 x26"
                         "x1 x3 x6 x10 x16 x27"
                         "x1 x3 x6 x10 x16 x28";
}

.numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d25c4a;
    box-shadow: rgba(238, 238, 238, 0.3) 0 1px 5px 1px;
    padding: 20px;
    text-align: center;
    color: #EEEEEE;
    font-weight: 800;
}
.numbers:first-child {
    grid-area: x1;
}
.numbers:nth-child(2) {
    grid-area: x2;
}
.numbers:nth-child(3) {
    grid-area: x3;
}
.numbers:nth-child(4) {
    grid-area: x4;
}
.numbers:nth-child(5) {
    grid-area: x5;
}
.numbers:nth-child(6) {
    grid-area: x6;
}
.numbers:nth-child(7) {
    grid-area: x7;
}
.numbers:nth-child(8) {
    grid-area: x8;
}
.numbers:nth-child(9) {
    grid-area: x9;
}
.numbers:nth-child(10) {
    grid-area: x10;
}
.numbers:nth-child(11) {
    grid-area: x11;
}
.numbers:nth-child(12) {
    grid-area: x12;
}
.numbers:nth-child(13) {
    grid-area: x13;
}
.numbers:nth-child(14) {
    grid-area: x14;
}
.numbers:nth-child(15) {
    grid-area: x15;
}
.numbers:nth-child(16) {
    grid-area: x16;
}