* {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    background-color: #8b7979;
}

/* Container */
.container {
    background-color: #222831;
    width: 80%;
    margin: 0 auto;
}

/* Header */
header {
    color: #121229;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    background-color:#3a3838;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

header nav a {
    color: #333333;
    margin-left: 20px;
    text-decoration: none;
}

header .logo {
    color: #333333;
    background-color:#222831 ;
    font-size: 24px;
    font-weight: bold;

}
.logo a{
    text-decoration: none;
    color: snow;
    background-color:#222831 ;
    list-style-type: none;
}

/* Бургер-меню стилі */
.menu-toggle {
    display: none;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}


.burger span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: #333;
    margin: 4px 0;
}
/* Стили для меню */
.menu {
    background-color:#222831 ;
    list-style-type: none;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.menu li {
    display: inline-block;
    background-color:#222831 ;
}

.menu a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    flex-wrap: nowrap;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: gainsboro;
    border: 1px solid #ddd;
    border-radius: 12px;
}
.menu a:hover  {
    color: #d25c4a;
}
.logo a:hover{
    color: #d25c4a;
}
/*Основне меню   */

/* Основные стили для сетки */
.travel-picture {
    background-color: #555555;
    display: grid;
    gap: 10px; /* Отступы между изображениями */
    grid-template-columns: repeat(5, 1fr); /* Сетка из четырех столбцов */
    grid-auto-rows: 150px; /* Базовая высота строк */
    width: 80%;
    padding: 150px 20px 20px 20px;
    margin: 0 auto;

}

.travel-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Устанавливаем размеры для определенных изображений */
.travel-picture img:nth-child(1) {
    grid-column: span 1;
    grid-row: span 1;
}
.travel-picture img:nth-child(3) {
    grid-column: span 1;
    grid-row: span 1;
}

.travel-picture img:nth-child(2) {
    grid-column: span 3;
    grid-row: span 3;
}

.travel-picture img:nth-child(4) {
    grid-column: span 1;
    grid-row: span 2;
    padding: 20px 0 20px 0;
}
.travel-picture img:nth-child(5) {
    grid-column: span 1;
    grid-row: span 2;
    padding: 20px 0 20px 0;
}
@media (max-width: 768px) {
    .burger {
        display: flex;
    }
    .menu{
        background-color:#222831 ;
        list-style-type: none;
        height: 200px;
        display: flex;
        gap: 30px;
        line-height: 1;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
    .travel-picture{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        text-align: left;
        overflow: hidden;
    }

    nav {
        position: absolute;
        top: 100%;
        left: 0;
        line-height: 0.4;
        background-color: #fff;
        width: 100%;
        display: none;
        flex-direction: column;
    }

    nav ul {
        flex-direction: column;
    }


    .menu-toggle:checked + .burger + nav {
        display: flex; /* Показати меню */
    }
}