/* Загальні стилі для тіла */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Заголовок */
h1 {
    text-align: center;
    color: #2c3e50;
}

/* Стилі для форми */
form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Стилі для полів форми */
label {
    font-weight: bold;
    margin-bottom: 5px;
    display: inline-block;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="radio"], input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

fieldset {
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
}

legend {
    font-size: 1.2em;
    padding: 0 10px;
    color: #34495e;
    background-color:cadetblue;
    border-radius: 5px;
}

/* Кнопки */
button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #1c5983;
}

/* Окремий стиль для кнопки "Скинути" */
button[type="reset"] {
    background-color: #e74c3c;
}

button[type="reset"]:hover {
    background-color: #c0392b;
}

/* Спеціальні стилі для випадаючих списків */
select, datalist {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

