section.hero
    .container
        h1 We’re Keepsake, A Digital & Branding Agency
        p Specializing in web design, poster, motion video, based in London. We love to turn ideas into beautiful things.
