@import 'base';

header {
  color: $text-color;
  padding: 20px 0;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  @include box-shadow;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav {
    a {
      color: $text-color;
      margin-left: 20px;
      text-decoration: none;
      @include hover-color($primary-color);
    }
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
  }
}

// Стили для меню
.menu {
  list-style-type: none;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
  margin: 0;

  li {
    display: inline-block;
  }

  a {
    text-decoration: none;
    color: $text-color;
    font-size: 16px;
    font-weight: 600;
    padding: 10px;
    flex-shrink: 0;
    flex-wrap: nowrap;
    @include hover-color($primary-color);
  }
}

.menu-toggle {
  display: none;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;

  span {
    display: block;
    height: 3px;
    width: 30px;
    background-color: $text-color;
    margin: 4px 0;
  }
}
/* Стили для іконки серця */
.heart-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF6347;
  width: 40px;
  height: 40px;
  border-radius: 4px;
}

.heart-item a:hover {
  background-color: #ff8567;
}

.heart-icon {
  color: white;
  font-size: 16px;
}