/* Дві колонки на екранах менше 768px */
@media (max-width: 768px) {
  .portfolio .grid-item {
    flex: 0 0 45%;
  }

  .journal-item {
    flex-direction: row;
    align-items: center;
    text-align: left;
    overflow: hidden;
  }


  .journal-item img {
    margin: 0 0 15px 0;
    height: 300px;
    padding-right: 10px;
  }


  .burger {
    display: flex;
  }

  nav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    width: 100%;
    display: none;
    flex-direction: column;
  }

  nav ul {
    flex-direction: column;
  }


  .menu-toggle:checked + .burger + nav {
    display: flex;
  }

  .services .flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  .services .service-item {
    flex: 1 1 45%;
    max-width: 45%;
  }

  .journal-grid {
    flex-direction: column;
    align-items: center;
  }

  header .container nav {
    display: none;
  }

  .filter-portfolio {
    flex-direction: column;
    align-items: center;
  }

}


/* Одна колонка на екранах менше 576px */
@media (max-width: 576px) {
  .portfolio .grid-item {
    flex: 0 0 80%;
  }
  .journal .journal-grid {
    flex-direction: column;
    align-items: center;
  }

  .services .service-item {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .filter-portfolio a .filter {
    flex: 0 0 50%;
    flex-direction: column;
  }

  .journal-item {
    max-width: 100%;
  }

  .journal-item img {
    width: 100%;
    margin: 0 0 15px 0;
    height: 300px;
    padding-right: 0;
  }

  .journal-item {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
